.articles {
  &__title {
    h2 {
      font-size: 3rem;
      font-weight: 400;
      margin-bottom: 15px;
    }
  }

  &__content {
    display: grid;
    grid-template-columns: 1fr;
    grid-gap: 20px;
    @media (min-width: 700px) {
      grid-template-columns: 1fr 1fr;
    }
    @media (min-width: 1440px) {
      grid-template-columns: repeat(4, 1fr);
    }

    .articles__card {
      background-color: white;
      border-radius: 5px;
      margin: 0 auto 30px auto;

      @media (min-width: 1440px) {
        max-width: 255px;
      }

      .card__image {
        border-top-left-radius: inherit;
        border-top-right-radius: inherit;
        height: 200px;
        background-size: cover;
        background-position: center center;
      }
    }
  }
}
