* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

*::before,
*::after {
  box-sizing: inherit;
}

html {
  font-size: 62.5%;
}

body {
  font-family: "Public Sans", sans-serif;
  font-size: $font-small;
  font-weight: 400;
  color: $grayishBlue;
  overflow-x: hidden;

  @media (min-width: 1024px) {
    font-size: $font-large;
  }

  &.no-scroll {
    overflow: hidden;
  }
}

main {
  background-color: $veryLightGray;
}

a,
a:hover,
a:visited {
  text-decoration: none;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: 300;
  color: $darkBlue;
}

p {
  line-height: 1.6;
}

// Buttons

button,
.button {
  padding: 1.4rem 3.5rem;
  background: linear-gradient(to right, $limeGreen, $brightCyan);
  border-radius: 4rem;
  display: inline-block;
  font-size: $font-small;
  font-weight: 700;
  color: $white;
  transition: opacity 300ms ease-in-out;

  &:hover {
    opacity: 0.65;
  }
}

// Flexbox

.flex {
  display: flex;

  &-jc-sb {
    justify-content: space-between;
  }

  &-jc-c {
    justify-content: center;
  }

  &-ai-c {
    align-items: center;
  }

  &-d-col {
    flex-direction: column;
  }
}

// Spacing

.container {
  padding: 3.6rem 2.2rem;
  @media (min-width: 1024px) {
    padding-top: 11rem;
    padding-left: 17rem;
    padding-right: 16.5rem;
  }
}

// Visibility

.hide-for-desktop {
  //Hide mobile items
  @media (min-width: 1024px) {
    display: none;
  }
}

.hide-for-mobile {
  @media (max-width: 1023px) {
    //Hide desktop items
    display: none;
  }
}
