.header {

    //Hamburguer open
    &.open {

        .header__menu {
           span:first-child {
                transform: rotate(45deg);
           } 
           span:nth-child(2){
               opacity: 0;
           }
           span:last-child {
                transform: rotate(-45deg);           
           }
        }

    }

    .overlay {
        position: absolute;
        top: 62px;
        bottom: 0;
        right: 0;
        left: 0;
        background: linear-gradient($darkBlue, transparent);
        z-index: 1;
        visibility: hidden;
    }


    nav {
        padding: 2rem 2.2rem;

        @media (min-width: 801px) {
            padding: 1.8rem 2.2rem;
        }
    }

    &__logo {

        max-height: 22px;

        img {
            width: 141px;
            height: 22px;
        }
    }

    &__menu {

        span {
            display: block;
            width: 26px;
            height: 3px;
            background-color: $darkBlue;
            transition: 0.5s cubic-bezier(0.23, 1, 0.320, 1);
            transform-origin: 2px 2px;


        &:not(:last-child){
                margin-bottom: .5rem;
            }
        }


    }

    &__links--mobile {
        position: absolute;
        width: calc(100% - 48px);
        background-color: $white;
        padding: 2.6rem;
        margin: 2.4rem;
        visibility: hidden;
        border-radius: 6px;
        z-index: 1;

        a {
            display: block;
            padding: 1rem;
            text-align: center;
            font-size: $font-medium;
            color: $darkBlue;
        }
    }

    &__links {

        a { 
            position: relative;
            color: $grayishBlue;
            font-size: $font-small;
            transition: color 300ms ease-in-out;

            &:not(:last-child) {
                margin-right: 3.2rem;
            }

            &::before {
                content: "";
                position: absolute;
                height: 3px;
                top: 43px;
                bottom: 0;
                right: 0;
                left: 0;
                background: linear-gradient(to right, $limeGreen, $brightCyan);
                opacity: 0;
                transition: opacity 300ms ease-in-out;
            }

            &:hover {
                color: $darkBlue;
                
                &::before {
                    opacity: 1;
                }
            }
        }
    }
}