.hero {
  background-color: $veryLightGray;

  @media (min-width: 801px) {
    display: flex;
    align-items: center;
  }

  &__image {
    position: relative;
    min-height: 28.5rem;
    background: url(../../images/bg-intro-mobile.svg);
    background-repeat: no-repeat;
    background-size: cover;

    @media (min-width: 801px) {
      flex: 1;
      order: 2;
      height: 655px;
      background: url(../../images/bg-intro-desktop.svg);
      background-repeat: no-repeat;
      background-size: cover;
      background-position: left bottom;
    }

    &--content {
      position: absolute;
      width: 100%;
      height: 100%;
      background: url(../../images/image-mockups.png);
      background-repeat: no-repeat;
      background-position: center bottom;
      background-size: 87%;
    }
  }

  &__description {
    text-align: center;

    @media (min-width: 801px) {
      flex: 1;
      order: 1;
    }

    h1 {
      font-size: 34px;
      margin-bottom: 3rem;
    }

    p {
      line-height: 1.8;
      margin-bottom: 3.6rem;
    }
  }
}
