* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

:root {
    --pale-blue: hsl(225, 100%, 94%);
    --bright-blue: hsl(245, 75%, 52%);
    --very-pale-blue: hsl(225, 100%, 98%);
    --desaturated-blue: hsl(224, 23%, 55%);
    --dark-blue: hsl(223, 47%, 23%);
}

html {
    font-size: 62.5%;
}

body {
    font-size: 1.4rem;
    font-family: 'Red Hat Display', sans-serif;
    font-weight: 500;
    background-color: var(--pale-blue);
}

main {
    padding: 6rem 2rem;
    margin-bottom: 100px;
}

main .card {
    margin: 0 auto;
    background-color: white;
    border-radius: 25px;
    max-width: 450px;
    min-width: 315px;
    box-shadow: 0px 5px 13px -2px rgba(0,0,0,0.75);
}

.card .card__image {
    border-top-left-radius: inherit;
    border-top-right-radius: inherit;
}

.card .card__image img {
    width: 100%;
    height: auto;
    border-top-left-radius: inherit;
    border-top-right-radius: inherit;
}

.card .card__body {
    padding: 35px 25px;
}

.card__body .body__description {
    text-align: center;
}

.body__description h3 {
    color: var(--dark-blue);
    font-size: 2.2rem;
    margin-bottom: 20px;
    font-weight: 900;
}

.body__description p {
    letter-spacing: 1.1px;
    color: var(--desaturated-blue);
    line-height: 1.6;
    margin-bottom: 24px;
}

.card__body .body__plan {
    background-color: var(--very-pale-blue);
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 18px 16px;
    border-radius: 15px;
    margin-bottom: 25px;
}

.body__plan .plan__description {
    display: flex;
    flex-direction: column;
}

.plan__description p:first-child {
    color: var(--dark-blue);
    font-weight: 700;
    margin-bottom: 10px;
}

.body__plan a {
    font-weight: 700;
    color: var(--bright-blue);
    transition: 300ms ease-in-out;
}

.body__plan a:hover {
    opacity: 0.6;
    text-decoration: none;
}

.card__body .body__buttons {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.card__body .body__buttons button{
    font-family: 'Red Hat Display', sans-serif;
    font-size: 1.4rem;
    font-weight: 700;
    border: 0;
    cursor: pointer;
    width: 100%;
    padding: 18px 65px;
    border-radius: 10px;
    background-color: var(--bright-blue);
    color: var(--very-pale-blue);
    margin-bottom: 30px;
    transition: 200ms ease-in-out;
    box-shadow: 0px 15px 18px 1px rgba(0,0,255,0.24);
}

.card__body .body__buttons button:hover {
    opacity: 0.8;
}

.card__body .body__buttons a {
    color: var(--desaturated-blue);
    text-decoration: none;
    transition: 300ms ease-in-out;
    font-weight: 700;
}

.card__body .body__buttons a:hover {
    color: var(--dark-blue);
}

footer {
    padding-bottom: 10px;
    width: 100%;
    text-align: center;
}

footer .attribution a {
    color: hsl(228, 45%, 44%);
}

/* Small mobile screen */
@media (max-width: 366px){
    main {
        padding: 6rem 0.25rem;
    }

    .card {
        margin: 0;
    }
}

/* Desktop styles */
@media (min-width: 400px){
    body {
        background-image: url(./images/pattern-background-desktop.svg);
        background-repeat: no-repeat;
        background-position-x: center;
        font-size: 1.6rem;
    }

    .body__description h3 {
    font-size: 2.4rem;
}

    .card__body .body__buttons button{
        font-size: 1.6rem;
    }

}
